
$color-primary: #3442b5;
$color-secondary: #f7ca11;
$color-dark: #271c47;
$color-text: #4e4e4e;
$color-text-light: #9f9f9f;
$color-text-dark: #3f3f40;
$color-gray: #808080;
$color-border: #f0f0f0;
$color-border-2: #bdbdbd;
$color-bg: #fff;
$color-bg-card: #f4f4f4;
$color-bg-search: #f6f5f2;
$color-footer-bg: #271c47;


$font-primary: "Poppins", sans-serif;
$font-secondary: "Outfit", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 20px;
$font-size-lg: 30px;
$font-size-xl: 32px;
$font-size-2xl: 40px;
$font-size-3xl: 48px;


$container-width: 1440px;
$container-padding: 80px;


$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-radius-lg: 10px;


$shadow-card: 0px 3px 19px rgba(0, 0, 0, 0.22);
$shadow-header: 0px 8px 16px rgba(57, 48, 19, 0.12);
$shadow-category: 0px 4px 11px rgba(0, 0, 0, 0.13);
